/* common */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
  word-break: break-all;
}

html,
body,
div,
span,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
a,
address,
pre,
cite,
form,
fieldset,
table,
th,
td,
legend,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: 'Pretendard', sans-serif;
  color: #000;
}

input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

#wrapper.map_wrapper {
  overflow: hidden !important;
}

#wrapper.map_wrapper main {
  height: calc(100% - 129px);
}

#wrapper.map_wrapper main .container {
  padding: 0 !important;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  margin-top: 56px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

main .container {
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

main .container>div {
  position: relative;
  width: 100%;
}

/* 지도 */
.container_inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* .container_inner .map_inner {
  position: relative;
  width: calc(100% - 389px);
  height: 100%;
  transition: all .3s;
  background: url(../image/img_map.jpg) 50% 50% no-repeat;
  background-size: cover;
} */

.container_inner .map_inner {
  width: 100% !important;
  height: calc(100vh - 80px) !important;
}

/* .container_inner.on .map_inner {
  width: calc(100% - 780px);
} */

.container_inner .mobile_menu_inner {
  display: block;
  flex-direction: inherit;
}

.container_inner .mobile_menu_inner .content_layer {
  display: inline-block;
}

#map {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* 지도 인포윈도우 */
.map_inner .info_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 10;
  min-width: 200px;
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.map_inner .info_window h4 {
  font-size: 14px;
  font-weight: 600;
}

.map_inner .info_window .address {
  font-size: 12px;
  color: #555;
}

button:hover {
  background-color: rgba(250, 144, 144, 0.733);
}

/* 지도 리스트 */
.mobile_content_box {
  width: 100%;
  height: calc(100% - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile_content_box .list {
  width: 100%;
}

.mobile_content_box .list ul {
  width: 100%;
}

.mobile_content_box .list ul li,
.mobile_content_box .list ul li a {
  width: 100%;
}

.mobile_content_box .list ul li a .list_table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.mobile_content_box .list ul li a .list_table .txt {
  width: calc(100% - 100px);
}

.mobile_content_box .list ul li a .list_table.noimg .txt {
  width: 100%;
}

.mobile_content_box .list ul li a {
  display: inline-block;
  padding: 18px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdee0;
  background: #fff;
  transition: all .2s;
}

.mobile_content_box .list ul li a:hover,
.mobile_content_box .list ul li a.on {
  background: #f7f9fa;
}

/* .mobile_content_box .list ul li a:hover img{transform:  translateY(-50%) scale(1.05);} */

.list_table .list_table_txt h4 {
  color: #0068c3;
}

/* 바텀 */
.Panel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  transition: top .25s ease-out;
  will-change: top;
  z-index: 10;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
}

.Panel-toggle {
  position: relative;
  width: 100%;
  height: 30px;
}

.Panel-toggle::before {
  content: '';
  display: block;
  width: 10%;
  height: 3px;
  border-radius: 3px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.is-active .Panel-toggle {
  background: rgba(255, 255, 255, .75);
}

.Panel.is-open {
  top: 0;
}

.Panel.is-closed {
  top: calc(100% - 100px);
}

.Panel.is-active {
  transition: none;
}


.admin .Panel .mobile_btn_write {
  display: block;
}

.Panel .mobile_btn_write {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 15;
}

.Panel.is-open .mobile_btn_write {
  bottom: 30px;
}

.Panel.is-closed .mobile_btn_write {
  bottom: 100px !important;
}

.Panel .mobile_btn_write a {
  position: relative;
  display: block;
  padding: 10px 20px 10px 45px;
  border-radius: 50px;
  border: 1px solid #14ae67;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.Panel .mobile_btn_write a::after {
  content: '';
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-size: cover;
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
}

/* 이미지 */
.list_table>.img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  margin-left: 20px;
}

.list_table .img_box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 1px solid #f5f6f7;
  border-radius: 3px;
  overflow: hidden;
}

.list_table .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.list_table .img_box .number {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .6);
}

/* 글 */
.list_table .txt {
  position: relative;
  width: calc(100% - 100px);
}

.list_table.noimg .txt {
  width: 100%;
}

.list_table .txt h5 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.list_table .txt p.address,
.list_table .txt p.tel {
  line-height: 1.2em;
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #555;
}

.list_table .txt p.tag {
  line-height: 1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.list_table .txt p.tag span {
  position: relative;
  font-size: 13px;
}

.list_table .txt p.tag span:not(:first-child) {
  margin-left: 6px;
}

.list_table .txt p.tag span::before {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(94, 197, 86, .4);
}

.toggle_bottom {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 20px;
  align-items: center;
}

.toggle_bottom a {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 40px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #808080;
}

.toggle_bottom a::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  background: url(../assets/ic_filter.png) 50% 50% no-repeat;
  background-size: cover;
}

.toggle_bottom p {
  flex: 1 1 auto;
  text-align: right;
  font-size: 14px;
}