/* common */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
  box-sizing: border-box;
  word-break: break-all;
}

html,
body,
div,
span,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
a,
address,
pre,
cite,
form,
fieldset,
table,
th,
td,
legend,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 15px;
  font-family: 'Pretendard', sans-serif;
  color: #000;
}

input,
textarea {
  -webkit-appearance: none !important;
}

select::-ms-expand {
  display: none;
}

ol,
ul,
dl {
  list-style: none;
}

input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

#wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  /* overflow-x: hidden;
  overflow-y: auto; */
}

#wrapper.map_wrapper {
  overflow: hidden !important;
}

#wrapper.map_wrapper main {
  height: calc(100% - 129px);
}

#wrapper.map_wrapper main .container {
  padding: 0 !important;
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  margin-top: 56px;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

main .container {
  position: relative;
  width: 100%;
  padding: 90px 0 60px 0;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

main .container>div {
  position: relative;
  width: 100%;
}

/* 지도 */
.container_inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* .container_inner .map_inner {
  position: relative;
  width: calc(100% - 389px);
  height: 100%;
  transition: all .3s;
  background: url(../image/img_map.jpg) 50% 50% no-repeat;
  background-size: cover;
} */

.container_inner .map_inner {
  width: 100% !important;
  height: calc(100vh - 80px) !important;
}

/* .container_inner.on .map_inner {
  width: calc(100% - 780px);
} */

.container_inner .mobile_menu_inner {
  display: block;
  flex-direction: inherit;
}

.container_inner .mobile_menu_inner .content_layer {
  display: inline-block;
}

#map {
  height: 100vh;
  width: 100%;
  display: flex;
}

/* 지도 인포윈도우 */
.map_inner .info_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 10;
  min-width: 200px;
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.map_inner .info_window h4 {
  font-size: 14px;
  font-weight: 600;
}

.map_inner .info_window .address {
  font-size: 12px;
  color: #555;
}

.map_inner .info_window .url {
  font-size: 12px;
}

.map_inner .info_window a b {
  font-size: 12px;
  color: #0068c3;
  text-decoration: underline;
}

/* 클러스터 윈도우 */
.cluster_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -85%);
  z-index: 15000;
  min-width: 250px;
  max-width: 400px;
  min-height: 100px;
  max-height: 200px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  overflow-x: hidden;
  overflow-y: auto;
}

.cluster_window .cluster_header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.cluster_window .cluster_header h4 {
  font-size: 14px;
  font-weight: 600;
  flex: 1 1 auto;
  color: #555;
}

.cluster_window .cluster_header a {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../assets/ic_popup_close2.png) 50% 50% no-repeat;
  background-size: cover;
}

.cluster_window ul li,
.cluster_window ul li a {
  width: 100%;
}

.cluster_window ul li a {
  display: inline-block;
  padding: 6px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdee0;
  background: #fff;
  transition: all .2s;
}

.cluster_window ul li a:hover,
.cluster_window ul li a.on {
  background: #f7f9fa;
}

.cluster_window ul li a .list_table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.cluster_window ul li a .list_table .title {
  width: 100%;
}

/* 클러스터 아이템 */
/* 지도 인포윈도우 */
.cluster_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 10;
  min-width: 200px;
  max-width: 300px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #dedede;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
}

.cluster_item .cluster_header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.cluster_item .cluster_header h4 {
  font-size: 14px;
  font-weight: 600;
  flex: 1 1 auto;
  color: #555;
}

.cluster_item .cluster_header a {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../assets/ic_popup_close2.png) 50% 50% no-repeat;
  background-size: cover;
}

.cluster_item h4 {
  font-size: 14px;
  font-weight: 600;
}

.cluster_item .address {
  font-size: 12px;
  color: #555;
}

.cluster_item .url {
  font-size: 12px;
}

.cluster_item a b {
  font-size: 12px;
  color: #0068c3;
  text-decoration: underline;
}

button:hover {
  background-color: rgba(250, 144, 144, 0.733);
}

/* 지도 리스트 */
.mobile_content_box {
  width: 100%;
  height: calc(100% - 80px);
  overflow-x: hidden;
  overflow-y: auto;
}

.mobile_content_box .list {
  width: 100%;
}

.mobile_content_box .list ul {
  width: 100%;
}

.mobile_content_box .list ul li,
.mobile_content_box .list ul li a {
  width: 100%;
}

.mobile_content_box .list ul li a .list_table {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.mobile_content_box .list ul li a .list_table .txt {
  width: calc(100% - 100px);
}

.mobile_content_box .list ul li a .list_table.noimg .txt {
  width: 100%;
}

.mobile_content_box .list ul li a {
  display: inline-block;
  padding: 18px 25px;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdee0;
  background: #fff;
  transition: all .2s;
}

.mobile_content_box .list ul li a:hover,
.mobile_content_box .list ul li a.on {
  background: #f7f9fa;
}

/* .mobile_content_box .list ul li a:hover img{transform:  translateY(-50%) scale(1.05);} */

.list_table .list_table_txt h4 {
  color: #0068c3;
}

/* 바텀 */
.Panel {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  background: #fff;
  transition: top .25s ease-out;
  will-change: top;
  z-index: 10;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .15);
}

.Panel-toggle {
  position: relative;
  width: 100%;
  height: 30px;
}

.Panel-toggle::before {
  content: '';
  display: block;
  width: 10%;
  height: 3px;
  border-radius: 3px;
  background-color: #ccc;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.is-active .Panel-toggle {
  background: rgba(255, 255, 255, .75);
}

.Panel.is-open {
  top: 0;
}

.Panel.is-closed {
  top: calc(100% - 100px);
}

.Panel.is-active {
  transition: none;
}


.admin .Panel .mobile_btn_write {
  display: block;
}

.Panel .mobile_btn_write {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 15;
}

.Panel.is-open .mobile_btn_write {
  bottom: 30px;
}

.Panel.is-closed .mobile_btn_write {
  bottom: 100px !important;
}

.Panel .mobile_btn_write a {
  position: relative;
  display: block;
  padding: 10px 20px 10px 45px;
  border-radius: 50px;
  border: 1px solid #14ae67;
  background-color: #fff;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
}

.Panel .mobile_btn_write a::after {
  content: '';
  width: 16px;
  height: 16px;
  overflow: hidden;
  background-size: cover;
  display: block;
  position: absolute;
  top: 10px;
  left: 20px;
}

/* 이미지 */
.list_table>.img {
  width: 80px;
  height: 80px;
  border-radius: 3px;
  margin-left: 20px;
}

.list_table .img_box {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border: 1px solid #f5f6f7;
  border-radius: 3px;
  overflow: hidden;
}

.list_table .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: auto;
}

.list_table .img_box .number {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 3px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, .6);
}

/* 글 */
.list_table .txt {
  position: relative;
  width: calc(100% - 100px);
}

.list_table.noimg .txt {
  width: 100%;
}

.list_table .txt h5 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.list_table .txt p.address,
.list_table .txt p.tel {
  line-height: 1.2em;
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;
  color: #555;
}

.list_table .txt p.tag {
  line-height: 1em;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.list_table .txt p.tag span {
  position: relative;
  font-size: 13px;
}

.list_table .txt p.tag span:not(:first-child) {
  margin-left: 6px;
}

.list_table .txt p.tag span::before {
  content: '';
  display: block;
  clear: both;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: rgba(94, 197, 86, .4);
}

.toggle_bottom {
  width: calc(100% - 50px);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 20px;
  align-items: center;
}

.toggle_bottom a {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 40px;
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border: 1px solid #808080;
}

.toggle_bottom a::before {
  content: '';
  width: 15px;
  height: 15px;
  display: block;
  position: absolute;
  top: 8px;
  left: 15px;
  background: url(../assets/ic_filter.png) 50% 50% no-repeat;
  background-size: cover;
}

.toggle_bottom p {
  flex: 1 1 auto;
  text-align: right;
  font-size: 14px;
}

/* 모달 부분 */
/* modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  opacity: 0;
  animation: fade-in 0.3s ease-in;
  animation-fill-mode: forwards;
}

.modal.fade-out {
  animation: fade-out 0.3s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal hr {
  margin-bottom: 1.875rem;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .4;
}

/* .modal-dialog {
  position: relative;
  width: 37.5rem;
  margin: 1.875rem auto;
} */
.modal-dialog {
  width: 95%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: calc(50% - 49px);
  /* background-color: #fff; */
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .375rem;
  outline: 0;
  -webkit-box-shadow: 0 .3125rem .9375rem rgb(0 0 0 / 50%);
  box-shadow: 0 .3125rem .9375rem rgba(0, 0, 0, .5);
}

.modal-header {
  min-height: 1.026rem;
  padding: .9375rem;
  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.375rem;
}

.modal-body {
  position: relative;
  padding: .9375rem;
}

.modal-footer {
  padding: .9375rem;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-footer:before {
  display: table;
  content: " ";
}

.modal-footer .btn {
  width: 4.375rem;
  height: 2.4375rem;
  display: inline-block;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: .25rem;
  background-color: #fff;
  border-color: #ccc;
}

/* 검색필터 팝업 */
.filter_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_popup .white_box {
  position: relative;
  width: calc(100% - 50px);
  overflow: hidden;
  border-radius: 5px;
}

.filter_popup .white_box2 {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.filter_popup .white_box .popup_top {
  position: relative;
  width: 100%;
  padding: 20px 20px 30px 20px;
  background-color: #fff;
}

.filter_popup .white_box2 .popup_top2 {
  position: relative;
  width: 100%;
  padding: 10px 5px 10px 5px;
  background-color: #fff;
}

.filter_popup .white_box .popup_top .popup_tit {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 25px;
}

.filter_popup .white_box2 .popup_top2 .popup_tit2 {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.filter_popup .white_box .popup_top .popup_tit h3 {
  font-size: 14px;
  color: #999;
  font-weight: 600;
  flex: 1 1 auto;
}

.filter_popup .white_box2 .popup_top2 .popup_tit2 h3 {
  font-size: 14px;
  color: #999;
  font-weight: 600;
  flex: 1 1 auto;
  margin: 1px;
}

.filter_popup .white_box2 .popup_top2 .popup_tit2 h3 b {
  border: 1px solid;
  padding: 2px;
  border-radius: 3px;
}

.filter_popup .white_box .popup_top .popup_tit a {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../assets/ic_popup_close2.png) 50% 50% no-repeat;
  background-size: cover;
}

.filter_popup .white_box2 .popup_top2 .popup_tit2 a {
  display: block;
  width: 12px;
  height: 12px;
  background: url(../assets/ic_popup_close2.png) 50% 50% no-repeat;
  background-size: cover;
}

.filter_popup .white_box .popup_top .popup_con {
  position: relative;
  width: 100%;
}

.filter_popup .white_box2 .popup_top2 .popup_con2 {
  position: relative;
  /* margin-top: 50px; */
  width: 100%;
  height: 80vh;
}

.filter_popup .white_box2 .popup_top2 .popup_con2 iframe {
  position: relative;
  width: 100%;
  height: 100%;
}

.filter_popup .white_box .popup_top .popup_con>div {
  position: relative;
  width: 100%;
}

.filter_popup .white_box .popup_top .popup_con>div.category,
.filter_popup .white_box .popup_top .popup_con>div.category2 {
  margin-bottom: 25px;
}

.filter_popup .white_box .popup_top .popup_con>div>p {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding-bottom: 20px;
}

.filter_popup .white_box .popup_top .popup_con>div.category>p {
  padding-bottom: 0;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li {
  width: 100%;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li.big {
  border-top: 1px solid #dbdee0;
  border-bottom: 1px solid #dbdee0;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li:not(:first-child) {
  margin-top: 10px;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li p {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul div {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 div p {
  display: flex;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 div p input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 8px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dedede;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 div p input[type="checkbox"]:checked {
  border: 4px solid #5683c5;
  background: url(../assets/ic_check.png) center no-repeat #5683c5;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 div p label {
  display: flex;
  margin-top: 10px;
  margin-left: 3px;
  align-items: center;
  flex-wrap: wrap;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li p input[type="checkbox"] {
  width: 15px;
  height: 15px;
  padding: 0;
  margin-right: 5px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #dedede;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li p input[type="checkbox"]:checked {
  border: 4px solid #5ec556;
  background: url(../assets/ic_check.png) center no-repeat #5ec556;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li p label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filter_popup .white_box .popup_top .popup_con>div.category2 ul li p label img {
  margin-right: 5px;
  width: 20px;
}

.filter_popup .white_box .popup_top .popup_con input[type="text"] {
  width: 100%;
  border: 1px solid #dbdee0;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.filter_popup .white_box .popup_top .popup_con input[type="range"] {
  width: 100%;
  border: 1px solid #dbdee0;
  /* padding: 15px 20px; */
  /* font-size: 16px; */
  border-radius: 5px;
}

.filter_popup .white_box .popup_top .popup_con input[type="range"]::-webkit-slider-thumb {
  width: 50%;
  background: #ff494f !important;
  border-radius: 5px;
}


/* 팝업 컴포넌트 관련 */
/* 체크박스 */
.popup_con .listSelect label {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popup_con .listSelect [type="checkbox"] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #dedede;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  transition: border 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 8px;
}

.popup_con .listSelect [type="checkbox"]:checked {
  border: 1px solid #54be4c;
  background: url(../assets/ic_check.png)50% 50% no-repeat;
  background-size: cover;
  background-color: #54be4c;
}

.popup_con .listSelect span {
  font-size: 18px;
  color: #555;
}

.popup_con .listSelect [type="checkbox"]:checked~span {
  color: #000;
}